* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #212f48;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    height: 600px;
    margin: 2rem;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.container img {
    width: 100%;
    height: auto;
    transform: translateY(0);
    transition: 10s;
}

.container:hover img {
    transform: translateY(calc(-100% + 600px));
}

.container .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 47, 72, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.container:hover .overlay {
    visibility: visible;
    opacity: 1;
    transition-delay: 10s;
}

.container .overlay .btn {
    padding: 1rem 2rem;
    background: #212f48;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.container .overlay .btn:hover {
    transform: scale(0.9);
}